.navbar {
  background-color: #ffffff7b;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-sizing: border-box;
  margin-bottom: 20px;
  height: 50px;
}

/* Navigation menu styles */
.nav-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.bruh {
  color: aqua;
}

.nav-item {
  margin-right: 30px;
}

.nav-item a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
  transition: 0.2s ease-in-out;
}

.nav-item a:hover {
  color: #2b719f;
}

.nav-item a {
  text-decoration: none;
  color: #161616;
  font-weight: bold;
  position: relative;
}

.nav-item a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  border-radius: 8px;
  background: #ababab;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: width 0.3s;
}

.nav-item a:hover::after {
  width: 100%;
}

.auth-section {
  display: flex;
  align-items: center;
}

.welcome-message {
  margin-right: 10px;
}

.login-button {
  margin-left: auto; /* Move the login button all the way to the right */
}


/* CSS */
.button-55 {
  --b: 3px;   /* border thickness */
  --s: .30em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover,
.button-55:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-55:active {
  background: var(--color);
  color: #fff;
}
